<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
</head>
<body>
	<form method="post" action="../controller/regCheck.php">
		<fieldset>
			<legend>Add Product</legend>
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="Name" value=""> </td>
				</tr>
				<tr>
					<td>Buying Price</td>
					<td><input type="text" name="Buying Price" value=""> </td>
				</tr>
				<tr>
					<td>Selling Price</td>
					<td><input type="text" name="Selling Price" value=""> </td>
				</tr>

				<tr>
					<td></td>
					<td>
						<input type="submit" name="Save" value="Save"> 
						<a href="home.php">Back</a>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>